---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
		<main>
		<div>
			<p>hola</p>
		</div>
	</main>
</div>

<style>
</style>
